
@font-face {
  font-family: 'FuturaBT-LightItalic';
  src: url('FuturaBT-LightItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

#weather {
  font-family: 'FuturaBT-LightItalic', sans-serif;
  h1, h2 {
    text-align: center;
  }
  > .condition { // today condition
    .icon i.wi {
      font-size: 10em;
    }
  }

  .condition { // generic condition
    @include debug;
    padding: 0 !important;
    .content {
      @include centered;
      @include debug;
      @include clearfix;
      @include border-radius(3px);
      margin-bottom: $spacer;
      background-color: $color1;
      .value{
        @include centered;
        color: $color2;
        display: inline;
        font-weight: lighter;

      }
      label{
        display: inline;
        color: $color2;
        font-weight: lighter;
      }
      .icon label, .city label, .date label, .description label, .temp label {
        display: none;
      }
      .date .value{
        font-size: 1.7em;
        font-weight: bold;
        font-weight: lighter;
      }
      .city .value{
        font-size: 40px;
        font-weight: bold;
        font-weight: lighter;
      }
      .icon {
        padding: 20px;
      }

    }
    .icon {
      margin-bottom: $spacer;
      label {
        display: none;
      }
      i.wi {
        color: $color2;
        font-size: 4em;
      }
    }
    .temp {
      text-align: left;
      display: inline-flex;
      margin-left: -20em;
      font-weight: lighter;
    }
    .showTemp{
      margin-left: 15em;
      text-align: left;
      position: absolute;
      margin-top: -50px;
      font-weight: lighter;
    }
  }


  & .row > .condition { // 1st condition
    .icon{
      margin-bottom: $spacer;
      text-align: left;
      padding-bottom: 0px;
     i.wi {
       font-size: 8em;
       color: $color2;
     }
    }
    .wind, .clouds, .humidity,  {
      display: none;
    }
    .value{
      font-size: $font_size_normal;
      font-weight: lighter;
    }

  }



  #forecast {
    color: $color2;
    @include centered;
    label {
      display: none;
    }
    .city, .wind, .clouds, .temp, .humidity {
      display: none;
    }
    #section1 {
      display: none;
    }
  }
  .description {
    font-size: $font_size_normal/2;
    font-weight: lighter;
  }
}
